HF_TOKEN=hf_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TAVILY_API_KEY=tvly-dev-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NGROK_AUTH_TOEKN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
EMBEDDING_URL=http://sglang:30000
EMBEDDING_MODEL=
EMBEDDING_CANDIDATE_LIMIT=30
EMBEDDING_WEIGHT=35
